<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <!--CONEXION BASE DE DATOS-->
  <connectionStrings>
   <!-- <add name="ConnectionPortafolio" connectionString="Data Source= localhost\orcl; Password = hr USER ID= portafolio" providerName="System.Data.OracleClient" />
  </connectionStrings>-->

  <add name="ConnectionPortafolio"
     providerName="Oracle.ManagedDataAccess.Client"
       connectionString="Data Source =localhost:1521/orcl;User Id=Portafolio; Password=hr; security=false;"
     />
  </connectionStrings>
  
</configuration>